* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* clearfixを追加 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
section {
    display: block;
}
header {
  width: 100%; /* 横幅いっぱい */
  height: 70px; /* 高さ120px */
  background-color: #EC715F; /* 背景色 */
}
.container {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  float: right;
}
.logo {
  height: 70px;
  float: left;
}
.nav-list {
  float: left;
  width: 120px;
  line-height: 70px;
  color: #FAFAFA;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}
#mv {
    width: 100%;
    height: 650px;
    text-align: center;
    color: #FAFAFA;
    background-image: url("img/mv.png");
    background-size: cover;
    background-position: center;
}
.mv-title {
  font-size: 64px;
  color: #FAFAFA;
  padding-top: 200px;
}
.mv-text {
  font-size: 20px;
  color: #FAFAFA;
  padding-top: 10px;
}
#portforio {
    background-color: #ECEFF1;
}

.head-text {
  padding-top: 90px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
}
.head-text::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}
.heading-text {
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
}
.profile-group {
  padding-top: 30px;
  width: 920px;
  margin: 0 auto;
}
.profile {
	float: left;
    width: 300px;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin: 10px 10px 0 0;
}
.profile:nth-child(3n) {
  margin-right: 0;
}
.box1 {
	background-image: url("img/sketch.jpg");
	
}
.box2 {
	background-image: url("img/websuku.png");
	
}
.box3 {
	background-image: url("img/write.jpg");
	
}
.box4 {
	background-image: url("img/webcamp.png");
	
}
.box5 {
	background-image: url("img/talk.jpg");
	
}
.box6 {
	background-image: url("img/webcamp-mother.png");
	
}
#feature {
    background-size: cover;
    background-position: center;
}

.strength {
  float: left;
  width: 320px;
  margin-right: 10px;
  text-align: center;
  font-size: 60px;
}
.strength-text {
  text-align: left;
  font-size: 16px;
}
.fa-code {
    content: "\f121";
}
.poot {
  width: 100%;
  height: 650px;
  color: red;
}
footer {
  width: 100%;
  height: 60px;
  background-color: #EC715F; /* 背景色 */
  text-align: center;
  line-height: 60px;
  position: absolute;
  bottom: 0;
}
.footer-text {
  color: #FAFAFA;
  size: 60px;
  font-size: 16px;
}